In [1]:
# Experiment - 3
# Name: Rachit Jajoo
# PRN: 2507123088
# Branch: ENTC
# Batch: B1

# Aim: To the study usage of tuples in python.

In [4]:
# Learning how tuples work
tpl1 = (2, True, "Rachit")
print(tpl1)
tpl2 = ("apple", "banana", "orange")
print(tpl2)
print(tpl2[1])
print(tpl2[-2])

(2, True, 'Rachit')
('apple', 'banana', 'orange')
banana
banana

In [5]:
# sample tuple programming
tpl_test = ("apple", 2, 2.5, True, "Rachit")
print(tpl_test[1:4])

(2, 2.5, True)

In [7]:
# Checking what makes tuple different from list
tpl3 = ("apple", "banana", "orange")
tpl3[1] = "kiwi" # appending a list is possible, but not in tuple!

TypeError: 'tuple' object does not support item assignment

In [11]:
# Duplication of elements in tuple
tpl4 = (10,)*5
print(tpl4)

# What difference does comma make?
tpl5 = (10)*5
print(tpl5)

# Adding a note to clarify that the previous cell (ySRlnYkRBxiH)
# does NOT disprove tuple immutability, as += creates a new tuple.
# It demonstrates concatenation and reassignment, not in-place modification.

(10, 10, 10, 10, 10)
50

In [12]:
# DIY: Printing something multiple times using list
list = ["Symbiosis"]
print(list*5)

list_2 = ("Symbiosis",)*5
print(list_2)

['Symbiosis', 'Symbiosis', 'Symbiosis', 'Symbiosis', 'Symbiosis']
('Symbiosis', 'Symbiosis', 'Symbiosis', 'Symbiosis', 'Symbiosis')

In [20]:
# Learning how to make tuples mutable
tpl6 = ("apple", "banana", "orange")
tpl7 = ("kiwi",)
print(tpl6)
# Finding the memory location of a tuple (before and after modifications)
print("before:", id(tpl6))
tpl6+=tpl7
print("after:", id(tpl6))

# self note:
# to add two tuples together and create a new one: tpl3 = tpl1 + tpl2
# to add two tuples together but edit it inside the original tuple: tpl1 = blah && tpl2 = blah blah && tpl1+=tpl2 && print(tpl1)

('apple', 'banana', 'orange')
before: 135435044387840
after: 135435024951120

In [24]:
# DIY Question 1 from experiment 2, but using tuples!
# Write a program to find the maximum marks, minimum marks, total number of students, sum of marks, average marks, sort marks in ascending order.
# Self note: good question to keep in mind

import math
marks = (90,82,66,76,33) # Changed to a tuple

print("Maximum marks: ", max(marks))
print("Minimum marks: ", min(marks))
print("Total number of students: ", len(marks))
print("Sum of marks: ", sum(marks))
print("Average marks: ", sum(marks)/len(marks))

# Self note: To sort a tuple, convert it to a list, sort, and convert back to a tuple
sorted_marks_list = sorted(marks)
sorted_marks_tuple = tuple(sorted_marks_list)
print("Marks in ascending order: ", sorted_marks_tuple)

Maximum marks:  90
Minimum marks:  33
Total number of students:  5
Sum of marks:  347
Average marks:  69.4
Marks in ascending order:  (33, 66, 76, 82, 90)

In [31]:
# DIY Question 2
# Scenario:
# A student's exam result is stored in a tuple containing 3 fixed fields: subject's name, marks obtained, and grade.
# You are to display the subject, marks, and grade all seperately. After that, you must check whether the student has scored 75 or more marks and print "Distinction" if the condition is satisfied.

student_result = ("Mathematics", 85, "A")

subject, marks, grade = student_result

print("Subject: ", subject)
print("Marks Obtained: ", marks)
print("Grade: ", grade)

if marks >= 75:
    print("Distinction")

# self note: You cannot take input from the user for this question if you use tuples. In that case, use lists instead.

Subject:  Mathematics
Marks Obtained:  85
Grade:  A
Distinction

In [35]:
# DIY Question 3
# Scenario:
# An organization records an employee's daily attendance for a week. Using a tuple, where: "P" represents Present, "A" represents Absnent.
# Write a Python Program to:
# 1. Store the attendance record in a tuple
# 2. Count and display the total number of present days.
# 3. Count and display the total number of absent days.
# 4. Check whether the employee was absent atleast once during the recorded period.
# 5. Display the appropriate message.


attendance_record = ("P", "P", "A", "P", "P", "A", "P")

print("Total number of present days: ", attendance_record.count("P"))
print("Total number of absent days: ", attendance_record.count("A"))

if "A" in attendance_record:
    print("The employee was absent at least once during the recorded period.")
else:
    print("The employee was present every day during the recorded period.")

Total number of present days:  5
Total number of absent days:  2
The employee was absent at least once during the recorded period.