In [15]:
# Experiment 10 - Study Of Pandas Library
# Name: Rachit Jajoo
# PRN: 25070123088
# Batch: ENTC - B1

In [16]:
# Introduction to Pandas
# Pandas : Panel Data
# Pandas is used for:
# Structured data

In [17]:
# Code 1: Learning How Pandas Works
import pandas as pd
s = pd.Series([10,20,30,40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [18]:
# Code 2: Creating Dataframes
# One column, then use series... Multiple columns, then use dataframes
data = {
  "Name":["A","B","C"],
  "Marks":[85,90,78]
}
DF = pd.DataFrame(data)
print(DF)

  Name  Marks
0    A     85
1    B     90
2    C     78

In [19]:
# Just some short theory: df.head() and df.tails can be used to give the first five rows and the last five rows respectively... from a given table of data.

In [20]:
# Command 1: Finding the structure of dataframes
print(DF.shape)

(3, 2)

In [21]:
# Command 2: Finding the dimension of the data frame
print(DF.ndim)

2

In [22]:
# Command 3: Finding the size of the dataframe
print(DF.size)

6

In [23]:
# Command 4: Finding the columns in the dataframe
print(DF.columns)

Index(['Name', 'Marks'], dtype='object')

In [24]:
# Command 5: Checking the datatypes in each column of the dataframe
print(DF.dtypes)

Name     object
Marks     int64
dtype: object

In [25]:
# Command 6: Accessing the individual column in the dataframe -
print(DF["Name"])

0    A
1    B
2    C
Name: Name, dtype: object

In [26]:
# Command 7: Accessing the element in an individual row and column. (Method 1)
print(DF.loc[0,"Name"])

'A'

In [29]:
# Command 8: Accessing the elemt in an individual row and column. (Method 2)
print(DF.iloc[2,1])

78

In [31]:
# Command 9: Adding a new column in the dataframe

DF["Grade"] = ["First Class", "Distinction", "Second Class"]
print(DF)

  Name  Marks         Grade
0    A     85   First Class
1    B     90   Distinction
2    C     78  Second Class

In [34]:
# Code 3: Updating the data in dataframe (Method 1)
# Change marks of student A from 85 to 88.

DF.loc[0,"Marks"] = 88
print(DF)

  Name  Marks         Grade
0    A     88   First Class
1    B     90   Distinction
2    C     78  Second Class

In [35]:
# Code 3: Updating the data in dataframe (Method 2)
# Change marks of student A from 85 to 88
DF.iloc[0,1] = 88
print(DF)

  Name  Marks         Grade
0    A     88   First Class
1    B     90   Distinction
2    C     78  Second Class

In [42]:
# Code 4: Deleting a column from the dataframe
# Command 10 - df.drop
# Note: Here inplace was used because we are overwriting the data.

# Ensure the 'Grade' column exists for the drop operations
DF["Grade"] = ["First Class", "Distinction", "Second Class"]

print("DF before drop operations:")
print(DF)
print()

# Drop 'Grade' by creating a new DataFrame (DF1)
DF1 = DF.drop("Grade", axis=1)
print("DF1 after dropping 'Grade' (new DataFrame):")
print(DF1)
print()

# Drop 'Grade' in-place from the original DataFrame (DF)
DF.drop("Grade", axis=1, inplace=True)
print("DF after dropping 'Grade' in-place:")
print(DF)

DF before drop operations:
  Name  Marks         Grade
0    A     88   First Class
1    B     90   Distinction
2    C     78  Second Class

DF1 after dropping 'Grade' (new DataFrame):
  Name  Marks
0    A     88
1    B     90
2    C     78

DF after dropping 'Grade' in-place:
  Name  Marks
0    A     88
1    B     90
2    C     78

In [46]:
# Code 5: Performing Basic Statistical Analysis
# Command 11 - df.mean()
# Command 12 - df.min()
# Command 13 - df.max()

mean1 = DF["Marks"].mean()
print("The mean value of the dataframe is: ", mean1)
min1 = DF["Marks"].min()
print("The minimum value in the dataframe is: ", min1)
max1 = DF["Marks"].max()
print("The maximum value in the dataframe is: ", max1)

The mean value of the dataframe is:  85.33333333333333
The minimum value in the dataframe is:  78
The maximum value in the dataframe is:  90

In [48]:
# Code 6: Displaying the students scoring more than 80 only from the dataframe
# This is called filtering!
DF[DF["Marks"] > 80]

  Name  Marks
0    A     88
1    B     90