Experiment 0: Introduction to Python

In [57]:
# Rachit Jajoo
# ENTC B1
# PRN: 25070123088

In [58]:
print("My name is Rachit Jajoo")

My name is Rachit Jajoo

In [59]:
print(2) # because 2 is the most epic number.

2

In [60]:
print([1,2,5])

[1, 2, 5]

In [61]:
x = "My name is Rachit Jajoo"
y = 2
z = [1,2,5]
print(x,y,z,sep="\n")

My name is Rachit Jajoo
2
[1, 2, 5]