In [ ]:
# Experiment - 4
# Name: Rachit Jajoo
# PRN: 25070123088
# Batch: ENTC B1

# Aim: Study of set in python.

In [ ]:
# Short Theory Learning

# Sets are used to store multiple items in a single variable.
# Set is one of the 4 built-in data types in Python used to store collections of data.
# The other three are List, Tuple, and Dictionary, all with different qualities and usage.
# A set is a collection which is unordered, unchangeable, and unindexed.

In [ ]:
# Creation of set
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [ ]:
# Duplicates are not allowed
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

In [ ]:
# The values of true and 1 are considered the same value in sets!
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{'banana', True, 2, 'cherry', 'apple'}

In [ ]:
# To check membership of an element in the set
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)
print("pineapple" in thisset)

True
False

In [ ]:
# Addition of elements in a set
# Property of sets: You cannot replace its items, but you can add new items! However, it will be unordered.

thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

In [ ]:
# Removal of elements in a set
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [ ]:
# Set Operations
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union: ", A | B)
print("Intersection: ", A & B)
print("Difference 1: ", A - B)
print("Difference 2: ", B - A)
print("Symmetric Difference: ", A ^ B)
print("Subset: ", A <= B)
print("Superset: ", A >= B)

Union:  {1, 2, 3, 4, 5, 6}
Intersection:  {3, 4}
Difference 1:  {1, 2}
Difference 2:  {5, 6}
Symmetric Difference:  {1, 2, 5, 6}
Subset:  False
Superset:  False

In [ ]:
# Learning about frozenset
# Unlike sets, elements cannot be added or removed from a frozenset.

x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>

In [ ]:
# Problem Statement 1: Unique Event Participants
# A college event has a list of students who registered multiple times by mistake.
# Write a program using set to store participant names and display only unique participants.

registered_participants = ["Rachit", "Pranav", "Maahi", "Bhondu", "Lakshya", "Maahi", "Pranav", "Madhur"]

print("All registered participants (including duplicates):")
print(registered_participants)

unique_participants = set(registered_participants)
print("Unique event participants: ", unique_participants)

All registered participants (including duplicates):
['Rachit', 'Pranav', 'Maahi', 'Bhondu', 'Lakshya', 'Maahi', 'Pranav', 'Madhur']
Unique event participants:  {'Lakshya', 'Pranav', 'Maahi', 'Rachit', 'Madhur', 'Bhondu'}

In [ ]:
# Problem Statement 2: Three students choose elective subjects.
# Find the common subjects chosen by all students using set operation
# HINT: Use the concept of set intersection (&)

student1_subjects = {"Maths", "Physics", "Chemistry", "Social Science"}
student2_subjects = {"Physics", "Biology", "Maths", "English"}
student3_subjects = {"Maths", "Social Science", "Physics", "History"}

print("Student 1's subjects: ", student1_subjects)
print("Student 2's subjects: ", student2_subjects)
print("Student 3's subjects: ", student3_subjects)

common_subjects = student1_subjects & student2_subjects & student3_subjects
print("Common subjects chosen by all students: ", common_subjects)

Student 1's subjects:  {'Chemistry', 'Maths', 'Physics', 'Social Science'}
Student 2's subjects:  {'Biology', 'Maths', 'English', 'Physics'}
Student 3's subjects:  {'History', 'Maths', 'Physics', 'Social Science'}
Common subjects chosen by all students:  {'Maths', 'Physics'}

In [ ]:
# Problem Statement 3: One set contains students in the cricket club and another in the football club.
# Find the students who are in both clubs, and only in one club.
# HINT: use the concept of intersection and symmetric difference

cricket_club = {"Madhur", "Lakshya", "Neil", "Naman", "Rachit", "Pranav"}
football_club = {"Rachit", "Pranav", "Ansh", "Divij", "Prince", "Medhansh"}

print("Cricket Club members: ", cricket_club)
print("Football Club members: ", football_club)

students_in_both_clubs = cricket_club & football_club
print("Students in both clubs:", students_in_both_clubs)

students_in_only_one_club = cricket_club ^ football_club
print("Students in only one club:", students_in_only_one_club)

Cricket Club members:  {'Naman', 'Madhur', 'Lakshya', 'Neil', 'Pranav', 'Rachit'}
Football Club members:  {'Medhansh', 'Ansh', 'Pranav', 'Prince', 'Divij', 'Rachit'}
Students in both clubs: {'Pranav', 'Rachit'}
Students in only one club: {'Ansh', 'Madhur', 'Neil', 'Lakshya', 'Divij', 'Medhansh', 'Naman', 'Prince'}

In [ ]:
# Problem Statement 4: Absent Students
# Given a set of all students and a set of present students, find the absent students.
# HINT: Use the concept of Set Difference (-)

all_students = {"Rachit", "Pranav", "Maahi", "Bhondu", "Lakshya", "Madhur", "Neil", "Naman", "Ansh", "Divij", "Prince", "Medhansh"}
present_students = {"Rachit", "Pranav", "Maahi", "Lakshya", "Neil", "Divij"}

print("All Students: ", all_students)
print("Present Students: ", present_students)

absent_students = all_students - present_students
print("Absent Students: ", absent_students)

In [27]:
# Problem Statement 5: Remove Invalid Entries (Simpler Version)
# A set contains valid course codes. Remove a discontinued code from the set.
# HINT: Use the concept of remove() / discard()

valid_course_codes = {"CS101", "MA201", "PH305", "PY402", "CH501"}
discontinued_code = "PH305"
print("Original set of course codes: ", valid_course_codes)

# Using discard() which doesn't raise an error if the item is not found
valid_course_codes.discard(discontinued_code)
print("Set after removing the discontinued code: ", valid_course_codes)

Original set of course codes:  {'PY402', 'PH305', 'CS101', 'CH501', 'MA201'}
Set after removing the discontinued code:  {'PY402', 'CS101', 'CH501', 'MA201'}